# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies & Build
node_modules
dist
dist-ssr
build

# Local & OS-specific files
*.local
.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Coverage & Testing
/coverage
/.nyc_output

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Temporary directories
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock