.image-wrapper {
  background-image: url("/assets/auth-bg-small.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -120px;
  max-height: 100vh;

  img {
    height: 100%;
    width: 100%;
    object-position: 0px -120px;
    object-fit: cover;
  }
}
